.cal-container {
  width: 400px;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  align-content: center;
}

.result,
.keys,
.bottom-zero {
  margin: 0;
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.result {
  margin-right: 5px;
  padding-right: 5px;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: gray;
  display: grid;
  justify-content: end;
  align-items: center;
}

.keys {
  background-color: gainsboro;
  display: grid;
  justify-content: center;
  align-items: center;
}

.right-col {
  background-color: orange;
}

.bottom-zero {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  grid-column-start: 1;
  grid-column-end: 3;
}

button:hover {
  cursor: pointer;
}
